.faq-section {
  padding-top: 80px;
  padding-bottom: 80px;

  @include media(desktop) {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

.faq-container {
  @include media(desktop) {
  }
}

.faq-title {
  @include media(desktop) {
  }
}

.faq-content-wrapper {
  @include media(desktop) {
    display: flex;
    align-items: center;
    gap: 131px;
  }
}

.faq-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @include media(desktop) {
  }
}

.faq-list-item {
  border-bottom: 1px solid #9faedb;
  padding: 9px 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-width: 335px;
  transition: all 0.3s ease-in-out;

  @include media(desktop) {
    max-width: 628px;
  }
}

.faq-top-text-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;

  @include media(desktop) {
  }
}

.faq-btn-text {
  font-family: 'DM Serif Display', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #9faedb;
  text-align: left;
  transition: color 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.faq-toggle-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 32px;
  height: 32px;
  margin-left: auto;
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.faq-icon {
  @include media(desktop) {
  }
}

.faq-bottom-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #e6eaf2;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  opacity: 0;

  @include media(desktop) {
  }
}

.is-visible {
  margin-top: 18px;
  max-height: 500px;
  opacity: 1;

  @include media(desktop) {
  }
}

.faq-list-item.faq-open .faq-toggle-symbol {
  transform: rotate(0deg);
}

.faq-list-item.faq-open {
}

.faq-list-item.faq-open .faq-bottom-text {
}

.faq-img {
  display: none;

  @include media(desktop) {
    display: block;
  }
}
