.faq-section {
  padding-top: 80px;
  padding-bottom: 80px;

  @include media(desktop) {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

.faq-container {
  @include media(desktop) {
  }
}

.faq-title {
  @include media(desktop) {
  }
}

.faq-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;

  @include media(desktop) {
    gap: 12px;
  }
}

.faq-list-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-width: 335px;
  transition: all 0.3s ease-in-out;

  @include media(desktop) {
    max-width: 415px;
  }
}

.faq-top-text-btn {
  border: 1px solid #e63946;
  border-radius: 12px;
  padding: 11px;
  display: flex;
  align-items: center;
  width: 100%;

  @include media(desktop) {
  }
}

.faq-btn-text {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  text-align: left;
  transition: color 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.faq-toggle-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  height: 24px;
  margin-left: auto;
  transition: transform 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.faq-icon {
  @include media(desktop) {
  }
}

.faq-bottom-text {
  border: 0.5px solid #e63946;
  border-radius: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #d1d5db;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  opacity: 0;

  @include media(desktop) {
  }
}

.is-visible {
  max-height: 500px;
  opacity: 1;

  @include media(desktop) {
  }
}

.faq-list-item.faq-open .faq-toggle-symbol {
  transform: rotate(180deg);
}

.faq-list-item.faq-open {
}

.faq-list-item.faq-open .faq-bottom-text {
  padding: 11px;
}
