.gallery-section {
  padding-top: 80px;

  @include media(desktop) {
    padding-top: 150px;
  }
}

.gallery-container {
  padding: 0;

  @include media(desktop) {
    padding: 0 80px;
  }
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;

  @include media(desktop) {
  }
}

.gallery-list-item {
  @include media(desktop) {
    &:nth-child(1) {
      order: 2;
    }

    &:nth-child(2) {
      order: 4;
    }

    &:nth-child(3) {
      order: 3;
    }

    &:nth-child(4) {
      order: 1;
    }

    &:nth-child(5) {
      order: 5;
    }
  }
}
