.header {
  background: #0e0f14;
  padding: 6px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
    padding: 2px 0;
  }
}

.header-container {
  @include media(desktop) {
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: end;

  @include media(desktop) {
    justify-content: space-between;
  }
}

.header-logo-link {
  display: none;

  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    align-items: center;
    gap: 50px;
  }
}

.nav-list-link {
  border-radius: 50px;
  padding: 8px 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #d1d5db;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: #e63946;
  }
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}

.menu-icon {
}

.close-icon {
}

.close-btn {
  display: none;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}
