.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 202px;
  padding-bottom: 202px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 319px;
    padding-bottom: 135px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-main-title {
  text-shadow: 6px 4px 5px rgba(230, 57, 70, 0.8);
  font-family: 'Cinzel', sans-serif;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  color: #fff;
  margin-bottom: 32px;

  @include media(desktop) {
    font-size: 46px;
    max-width: 971px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
}

.hero-text {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #fff;
  margin-bottom: 34px;

  @include media(desktop) {
    font-size: 24px;
    margin-bottom: 56px;
  }
}

.hero-btn {
  background: #e63946;
  border-radius: 12px;
  padding: 18px 32px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  width: 100%;
  max-width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
  }

  @include media(desktop) {
  }
}
