.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 124px;
  padding-bottom: 75px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 241px;
    padding-bottom: 192px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-main-title {
  text-shadow: -8px 10px 9px rgba(3, 2, 10, 0.6);
  font-family: 'DM Serif Display', sans-serif;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  color: #f7c549;
  margin-bottom: 32px;

  @include media(desktop) {
    font-size: 62px;
    max-width: 728px;
    margin-bottom: 52px;
  }
}

.hero-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #e6eaf2;
  margin-bottom: 310px;

  @include media(desktop) {
    font-size: 28px;
    text-align: left;
    max-width: 627px;
    margin-bottom: 42px;
  }
}

.hero-btn {
  box-shadow: -8px 10px 9px rgba(3, 2, 10, 0.6);
  background: #f7c549;
  border-radius: 30px;
  padding: 20px 26px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #19152d;
  width: 100%;
  max-width: 197px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
  }

  @include media(desktop) {
    margin: 0;
  }
}
