.pricing-section {
  padding-top: 80px;

  @include media(desktop) {
    padding-top: 150px;
  }
}

.pricing-container {
  @include media(desktop) {
  }
}

.pricing-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @include media(desktop) {
    flex-direction: row;
    align-items: start;
    justify-content: center;
  }
}

.pricing-img-wrapper {
  @include media(desktop) {
    order: 2;
  }
}

.pricing-img {
}

.pricing-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @include media(desktop) {
  }
}

.pricing-top-list {
  @include media(desktop) {
    order: 1;
  }
}

.pricing-bottom-list {
  @include media(desktop) {
    order: 3;
  }
}

.pricing-list-item {
  border: 1px solid #e63946;
  border-radius: 12px;
  padding: 25px 41px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 335px;

  @include media(desktop) {
  }
}

.pricing-item-title {
  font-family: 'Cinzel', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #fff;

  @include media(desktop) {
  }
}

.pricing-icon {
  @include media(desktop) {
  }
}

.pricing-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #d1d5db;
  margin-top: 8px;

  @include media(desktop) {
  }
}
