.privacy-body {
  .header-bg-wrapper {
    background-image: none;
  }
}

.policy-section {
  background: #19152d;
  padding-top: 122px;
  padding-bottom: 80px;

  @include media(desktop) {
    padding-top: 136px;
    padding-bottom: 100px;
  }
}

.policy-main-title {
  font-family: 'DM Serif Display', sans-serif;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  color: #f7c549;
  margin-bottom: 20px;

  @include media(desktop) {
    font-size: 36px;
    margin-bottom: 40px;
  }
}

.policy-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #e6eaf2;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 16px;
  }
}

.policy-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #e6eaf2;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @include media(desktop) {
    font-size: 16px;
  }
}

.policy-list {
  list-style-type: disc;
  padding-left: 20px;
}

.policy-item {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #e6eaf2;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 16px;
  }

  @include media(desktop) {
    font-size: 16px;
  }
}

.policy-span {
  text-decoration: underline;
}

.policy-link {
  text-decoration: underline;
  word-wrap: break-word;
}
