.rooms-section {
  @include media(desktop) {
  }
}

.rooms-bg-wrapper {
  padding-top: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;

  @include media(desktop) {
    padding-top: 150px;
    max-width: 1440px;
  }
}

.rooms-container {
}

.rooms-title {
  @include media(desktop) {
  }
}

.rooms-swiper-container {
  max-width: 335px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.rooms-swiper-container.show {
  visibility: visible;
}

.rooms-list {
  @include media(desktop) {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 20px;
  }
}

.rooms-list-item {
  max-width: 335px;
  width: 100%;
  display: flex !important;
  flex-direction: column;
  min-height: 698px;

  @include media(desktop) {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 413px;
    min-height: 724px;
  }
}

.rooms-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;

  @include media(desktop) {
  }
}

.rooms-item-title {
  font-family: 'Cinzel', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  margin-bottom: 21px;

  @include media(desktop) {
  }
}

.rooms-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #d1d5db;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.rooms-item-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: auto;

  @include media(desktop) {
  }
}

.rooms-item-features-wrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;

  @include media(desktop) {
  }
}

.rooms-features-item {
  display: flex;
  align-items: center;
  gap: 6px;

  @include media(desktop) {
  }
}

.rooms-icon {
  min-width: 24px;

  @include media(desktop) {
  }
}

.rooms-item-features-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #d1d5db;

  @include media(desktop) {
  }
}

.rooms-btn {
  margin: 0;
}
