<section class="section faq-section" id="faq">
  <div class="container faq-container">
    <h2 class="section-title faq-title">FAQ</h2>
    <div class="faq-content-wrapper">
      <ul class="faq-list">
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Is the game free?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-arrow"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Totally free! Though if you're obsessed with customization like I
            am, there are some extra outfit packs available.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Does it work offline?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-arrow"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Once it's downloaded, you're good to go - no wifi needed!
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">What’s the main objective?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-arrow"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Manipulate light to form shadow paths so the boy can reach the cat.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Is there a storyline?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-arrow"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Yes—he is searching for his parents, and the journey is revealed to
            be a dream.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Are new levels planned?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-arrow"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            We've got some seriously challenging levels in the works, plus some
            new mechanics that'll blow your mind.
          </p>
        </li>
      </ul>
      <img
        class="faq-img"
        src="./img/faq/faq-img.png"
        alt="Screenshot of the game"
        width="434"
        height="434"
        loading="lazy"
      />
    </div>
  </div>
</section>
