<section class="section faq-section" id="faq">
  <div class="container faq-container">
    <h2 class="section-title faq-title">FAQ</h2>
    <ul class="faq-list">
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">How many players can participate?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-cross"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          You can bring anywhere from 2 to 6 people - perfect for couples or
          small groups.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Is it suitable for beginners?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-cross"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Yeah, definitely! Don't worry though - if you're totally stumped,
          we'll toss you a clue or two. Trust me, we won't leave you hanging in
          there forever.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Are the rooms scary?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-cross"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          The villa can be a bit creepy, but the lab and bank heist are more
          puzzle-focused than scary.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Is prior experience required?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-cross"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">No—anyone can play.</p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">What is the age limit?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-cross"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">Recommended 12+ or accompanied by adults.</p>
      </li>
    </ul>
  </div>
</section>
