<section class="section gallery-section" id="gallery">
  <div class="container gallery-container">
    <h2 class="section-title rooms-title">Gallery</h2>
    <ul class="gallery-list">
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="./img/gallery/gallery-img1-desk.png"
            media="(min-width: 1440px)"
            width="847"
            height="313" />
          <source
            srcset="./img/gallery/gallery-img1-mob.png"
            width="375"
            height="139" />
          <img
            class="gallery-img"
            src="./img/gallery/gallery-img1-mob.png"
            alt="Screenshot of the game"
            width="375"
            height="139"
        /></picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="./img/gallery/gallery-img2-desk.png"
            media="(min-width: 1440px)"
            width="305"
            height="313" />
          <source
            srcset="./img/gallery/gallery-img2-mob.png"
            width="178"
            height="135" />
          <img
            class="gallery-img"
            src="./img/gallery/gallery-img2-mob.png"
            alt="Screenshot of the game"
            width="178"
            height="135"
        /></picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="./img/gallery/gallery-img3-desk.png"
            media="(min-width: 1440px)"
            width="521"
            height="313" />
          <source
            srcset="./img/gallery/gallery-img3-mob.png"
            width="177"
            height="135" />
          <img
            class="gallery-img"
            src="./img/gallery/gallery-img3-mob.png"
            alt="Screenshot of the game"
            width="177"
            height="135"
        /></picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="./img/gallery/gallery-img4-desk.png"
            media="(min-width: 1440px)"
            width="413"
            height="313" />
          <source
            srcset="./img/gallery/gallery-img4-mob.png"
            width="375"
            height="284" />
          <img
            class="gallery-img"
            src="./img/gallery/gallery-img4-mob.png"
            alt="Screenshot of the game"
            width="375"
            height="284"
        /></picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="./img/gallery/gallery-img5-desk.png"
            media="(min-width: 1440px)"
            width="413"
            height="313" />
          <source
            srcset="./img/gallery/gallery-img5-mob.png"
            width="375"
            height="284" />
          <img
            class="gallery-img"
            src="./img/gallery/gallery-img5-mob.png"
            alt="Screenshot of the game"
            width="375"
            height="284"
        /></picture>
      </li>
    </ul>
  </div>
</section>
