<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <h1 class="hero-main-title">
          We’ve got three completely different rooms here — each one’s gonna
          blow your mind in its own way
        </h1>
        <p class="hero-text">
          Pick your journey and see if your team's got what it takes to escape!
        </p>
        <a class="hero-btn" href="#">Book Now</a>
      </div>
    </div>
  </div>
</section>
