<section class="section locations-section" id="locations">
  <div class="locations-bg-wrapper">
    <div class="container locations-container">
      <h2 class="section-title locations-title">Locations</h2>
      <ul class="locations-list">
        <li class="locations-list-item">
          <picture>
            <source
              srcset="./img/locations/locations-img1-desk.png"
              media="(min-width: 1440px)"
              width="525"
              height="289" />
            <source
              srcset="./img/locations/locations-img1-mob.png"
              width="335"
              height="289" />
            <img
              class="locations-img"
              src="./img/locations/locations-img1-mob.png"
              alt="Screenshot of the game"
              width="335"
              height="289"
              loading="lazy"
          /></picture>
          <h3 class="locations-item-title">Abandoned House</h3>
          <p class="locations-item-text">
            A silent, broken home where flickering lamps and long corridors
            create twisted shadow paths through forgotten memories.
          </p>
        </li>
        <li class="locations-list-item">
          <picture>
            <source
              srcset="./img/locations/locations-img2-desk.png"
              media="(min-width: 1440px)"
              width="525"
              height="289" />
            <source
              srcset="./img/locations/locations-img2-mob.png"
              width="335"
              height="289" />
            <img
              class="locations-img"
              src="./img/locations/locations-img2-mob.png"
              alt="Screenshot of the game"
              width="335"
              height="289"
              loading="lazy"
          /></picture>
          <h3 class="locations-item-title">Forest of Echoes</h3>
          <p class="locations-item-text">
            A quiet forest where moonlight slips through trees, and moving
            shadows reshape the paths with every step.
          </p>
        </li>
        <li class="locations-list-item">
          <picture>
            <source
              srcset="./img/locations/locations-img3-desk.png"
              media="(min-width: 1440px)"
              width="525"
              height="289" />
            <source
              srcset="./img/locations/locations-img3-mob.png"
              width="335"
              height="289" />
            <img
              class="locations-img"
              src="./img/locations/locations-img3-mob.png"
              alt="Screenshot of the game"
              width="335"
              height="289"
              loading="lazy"
          /></picture>
          <h3 class="locations-item-title">City Rooftops</h3>
          <p class="locations-item-text">
            High above the sleeping city, neon lights and street lamps cast
            shifting shadows across narrow rooftops and fire escapes.
          </p>
        </li>
        <li class="locations-list-item">
          <picture>
            <source
              srcset="./img/locations/locations-img4-desk.png"
              media="(min-width: 1440px)"
              width="525"
              height="289" />
            <source
              srcset="./img/locations/locations-img4-mob.png"
              width="335"
              height="289" />
            <img
              class="locations-img"
              src="./img/locations/locations-img4-mob.png"
              alt="Screenshot of the game"
              width="335"
              height="289"
              loading="lazy"
          /></picture>
          <h3 class="locations-item-title">Moonlit Ruins</h3>
          <p class="locations-item-text">
            Ancient stone ruins bathed in cold moonlight, where broken pillars
            and arches create complex shadow puzzles.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
