<section class="section mechanics-section" id="mechanics">
  <div class="mechanics-bg-wrapper">
    <div class="container mechanics-container">
      <h2 class="section-title rooms-title">Mechanics</h2>
      <div class="mechanics-content-wrapper">
        <div class="mechanics-text-wrapper">
          <img
            class="mechanics-lantern-img"
            src="./img/mechanics/mechanics-lantern-mob.png"
            alt="Lantern"
            width="55"
            height="393"
            loading="lazy"
          />
          <p class="mechanics-text">
            How the game actually works: When you drag the lights around, the
            shadows shift in real-time Different light types (lamps, lanterns,
            sunbeams) Overlapping shadow puzzles Shadow-only navigation
          </p>
        </div>
        <img
          class="mechanics-img"
          src="./img/mechanics/mechanics-img.png"
          alt="Screenshot of the game"
          width="640"
          height="408"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
