<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#rooms">Rooms</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#works">How It Works</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#pricing">Pricing</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#reviews">Reviews</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#gallery">Gallery</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#faq">FAQ</a>
      </li>
    </ul>
  </nav>
</div>
