<section class="section pricing-section" id="pricing">
  <div class="container pricing-container">
    <h2 class="section-title rooms-title">Pricing</h2>
    <div class="pricing-content-wrapper">
      <div class="pricing-img-wrapper">
        <picture>
          <source
            srcset="./img/pricing/pricing-img-desk.png"
            media="(min-width: 1440px)"
            width="414"
            height="437" />
          <source
            srcset="./img/pricing/pricing-img-mob.png"
            width="375"
            height="396" />
          <img
            class="pricing-img"
            src="./img/pricing/pricing-img-mob.png"
            alt="Screenshot of the game"
            width="375"
            height="396"
        /></picture>
      </div>
      <ul class="pricing-list pricing-top-list">
        <li class="pricing-list-item">
          <h3 class="pricing-item-title">
            Standard Group<br />
            Price
          </h3>
          <svg class="pricing-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-users"></use>
          </svg>
          <p class="pricing-item-text">
            One flat rate for your entire team<br />
            No per-player charges
          </p>
        </li>
        <li class="pricing-list-item">
          <h3 class="pricing-item-title">
            Weekday / Weekend<br />
            variations
          </h3>
          <svg class="pricing-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-calendar"></use>
          </svg>
          <p class="pricing-item-text">
            Flexible pricing based on day<br />
            Weekdays & weekends available
          </p>
        </li>
      </ul>
      <ul class="pricing-list pricing-bottom-list">
        <li class="pricing-list-item">
          <h3 class="pricing-item-title">
            Special offers<br />
            (optional)
          </h3>
          <svg class="pricing-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-hash"></use>
          </svg>
          <p class="pricing-item-text">
            Seasonal deals & limited offers<br />
            Ask us about current promotions
          </p>
        </li>
        <li class="pricing-list-item">
          <h3 class="pricing-item-title">
            Gift certificates<br />
            option
          </h3>
          <svg class="pricing-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-gift"></use>
          </svg>
          <p class="pricing-item-text">
            Give an escape experience<br />
            Perfect for birthdays & teams
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
