<section class="section rooms-section" id="rooms">
  <div class="rooms-bg-wrapper">
    <div class="container rooms-container">
      <h2 class="section-title rooms-title">Rooms</h2>
      <div class="rooms-swiper-container">
        <ul class="swiper-wrapper rooms-list">
          <li class="swiper-slide rooms-list-item">
            <picture>
              <source
                srcset="./img/rooms/rooms-img1-desk.png"
                media="(min-width: 1440px)"
                width="413"
                height="413" />
              <source
                srcset="./img/rooms/rooms-img1-mob.png"
                width="335"
                height="335" />
              <img
                class="rooms-img"
                src="./img/rooms/rooms-img1-mob.png"
                alt="Screenshot of the game"
                width="335"
                height="335"
                loading="lazy"
            /></picture>
            <h3 class="rooms-item-title">The Forgotten Scientist’s Lab</h3>
            <p class="rooms-item-text">
              Step into this mad scientist's lab - I'm talking beakers
              everywhere, crazy equations on the walls, the whole nine yards.
              Players must uncover what the scientist was working on and escape
              before his final invention activates.
            </p>
            <div class="rooms-item-bottom-wrapper">
              <div class="rooms-item-features-wrapper">
                <div class="rooms-features-item">
                  <p class="rooms-item-features-text">Difficulty level:</p>
                  <svg class="rooms-icon" width="24" height="24">
                    <use href="./img/sprite.svg#icon-difficulty1"></use>
                  </svg>
                </div>
                <div class="rooms-features-item">
                  <svg class="rooms-icon" width="24" height="24">
                    <use href="./img/sprite.svg#icon-users"></use>
                  </svg>
                  <p class="rooms-item-features-text">3-6 persons</p>
                </div>
                <div class="rooms-features-item">
                  <svg class="rooms-icon" width="24" height="24">
                    <use href="./img/sprite.svg#icon-time"></use>
                  </svg>
                  <p class="rooms-item-features-text">60 min</p>
                </div>
              </div>
              <a class="hero-btn rooms-btn" href="#">Book Now</a>
            </div>
          </li>
          <li class="swiper-slide rooms-list-item">
            <picture>
              <source
                srcset="./img/rooms/rooms-img2-desk.png"
                media="(min-width: 1440px)"
                width="413"
                height="413" />
              <source
                srcset="./img/rooms/rooms-img2-mob.png"
                width="335"
                height="335" />
              <img
                class="rooms-img"
                src="./img/rooms/rooms-img2-mob.png"
                alt="Screenshot of the game"
                width="335"
                height="335"
                loading="lazy"
            /></picture>
            <h3 class="rooms-item-title">Curse of the Old Villa</h3>
            <p class="rooms-item-text">
              An ancient villa haunted by echoes of the past. Explore dark
              hallways, decipher supernatural clues, and lift the curse before
              time runs out.
            </p>
            <div class="rooms-item-bottom-wrapper">
              <div class="rooms-item-features-wrapper">
                <div class="rooms-features-item">
                  <p class="rooms-item-features-text">Difficulty level:</p>
                  <svg class="rooms-icon" width="24" height="24">
                    <use href="./img/sprite.svg#icon-difficulty2"></use>
                  </svg>
                </div>
                <div class="rooms-features-item">
                  <svg class="rooms-icon" width="24" height="24">
                    <use href="./img/sprite.svg#icon-users"></use>
                  </svg>
                  <p class="rooms-item-features-text">2-6 persons</p>
                </div>
                <div class="rooms-features-item">
                  <svg class="rooms-icon" width="24" height="24">
                    <use href="./img/sprite.svg#icon-time"></use>
                  </svg>
                  <p class="rooms-item-features-text">60 min</p>
                </div>
              </div>
              <a class="hero-btn rooms-btn" href="#">Book Now</a>
            </div>
          </li>
          <li class="swiper-slide rooms-list-item">
            <picture>
              <source
                srcset="./img/rooms/rooms-img3-desk.png"
                media="(min-width: 1440px)"
                width="413"
                height="413" />
              <source
                srcset="./img/rooms/rooms-img3-mob.png"
                width="335"
                height="335" />
              <img
                class="rooms-img"
                src="./img/rooms/rooms-img3-mob.png"
                alt="Screenshot of the game"
                width="335"
                height="335"
                loading="lazy"
            /></picture>
            <h3 class="rooms-item-title">City Bank Heist</h3>
            <p class="rooms-item-text">
              A high-stakes robbery scenario. Break into the vault, bypass
              security systems, and escape with the loot before the police
              arrive.
            </p>
            <div class="rooms-item-bottom-wrapper">
              <div class="rooms-item-features-wrapper">
                <div class="rooms-features-item">
                  <p class="rooms-item-features-text">Difficulty level:</p>
                  <svg class="rooms-icon" width="24" height="24">
                    <use href="./img/sprite.svg#icon-difficulty3"></use>
                  </svg>
                </div>
                <div class="rooms-features-item">
                  <svg class="rooms-icon" width="24" height="24">
                    <use href="./img/sprite.svg#icon-users"></use>
                  </svg>
                  <p class="rooms-item-features-text">2-6 persons</p>
                </div>
                <div class="rooms-features-item">
                  <svg class="rooms-icon" width="24" height="24">
                    <use href="./img/sprite.svg#icon-time"></use>
                  </svg>
                  <p class="rooms-item-features-text">60 min</p>
                </div>
              </div>
              <a class="hero-btn rooms-btn" href="#">Book Now</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
