@import './fonts.scss';
@import 'modern-normalize';
@import './components/header.scss';
@import './components/menu.scss';
@import './components/hero.scss';
@import './components/works.scss';
@import './components/mechanics.scss';
@import './components/locations.scss';
@import './components/screenshots.scss';
@import './components/cta.scss';
@import './components/faq.scss';
@import './components/footer.scss';
@import './components/banner.scss';
@import './components/privacy.scss';
